body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    margin: 0;
}

h1 {
   font-size: 40px;
}

h2{
    margin-top: 30px;
}

p{
    font-size: 18px;
}

button.botao-principal{
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    
    background-color: #4a33b1;
    color: rgb(15, 15, 15);

    border: none;
    border-radius: 8px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.cards{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    background-color: #7e1b1b;
    padding: 14px;
    border-radius: 40px;
    flex: 1;
    min-width: 150px;
}